<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<PluginTitle>JTech</PluginTitle>
	<PluginDescription>An industrial automation overhaul for Rust.</PluginDescription>
	<PluginAuthor>TheGreatJ</PluginAuthor>
	<ResourceID>2402</ResourceID>
	<VersionNumberMajor>1</VersionNumberMajor>
	<VersionNumberMinor>0</VersionNumberMinor>
	<GithubLink>https://github.com/jacobcoughenour/JTech</GithubLink>

	<InfoHeader>
		<TimeStamp/>
	</InfoHeader>
</configuration>